
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>

<body>
    <h3>@ViewBag.Title</h3>
    <div>
        <img src="~/Pictures/d49647b1-cd8c-e5b1.png" />
        <img src="~/Pictures/d49647b1-7f39-0b6b.png" />
        <img src="~/Pictures/d49647b1-e7d8-7c33.png" />
        <img src="~/Pictures/d49647b1-e7f9-a631.png" />
    </div>
</body>
</html>
