
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>@ViewBag.Title</h1>
<form id="newRental">

    סניף: <input id="customer" name="customer" required value="" class="form-control" />
    תאריך איסוף: <input type="date" name="dateIn" id="dateIn" class="form-control" />
    תאריך איסוף <input type="date" name="dateOut" id="dateOut" required value="" class="form-control">
    <div>
        <ul></ul>
    </div>
    <select id="chooseCarType">
        <option value="">mini</option>
        <option value="">Compact</option>
        <option value="">Standard</option>
        <option value="">Family</option>
        <option value="">Full Size</option>
    </select>
    <br />
    <br />
    <br />
    <button id="CarOrder">קבל הצעה</button>
    <button id="ChooseCar">Choose Car</button>
    <div>
        <h2>List Of Cars:</h2>
        <ul id="cars"></ul>

    </div>
    <table id="Tab" width="200px" border="1">
        <tr>
            <td>CAR TYPE ID</td>
            <td>COLOR</td>
            <td>ENGINE</td>
            <td><button>Choose</button></td>
        </tr>
    </table>

</form>
<div id="holdy">
    <div id="blackBlock"><a href="#"></a></div>
    <img src="~/Pictures/d49647b1-cd8c-e5b1.png" class="1" alt="one" />
    <img src="~/Pictures/d49647b1-7f39-0b6b.png" class="2" alt="two" />
    <img src="~/Pictures/d49647b1-e7d8-7c33.png" class="3" alt="three" />
    <img src="~/Pictures/d49647b1-e7f9-a631.png" class="4" alt="four" />
    <ul id="listSlide">
        <li><img src="~/Pictures/d49647b1-cd8c-e5b1.png" class="1" width="70px" height="70px" /></li>
        <li><img src="~/Pictures/d49647b1-7f39-0b6b.png" class="2" width="70px" height="70px" /></li>
        <li><img src="~/Pictures/d49647b1-e7d8-7c33.png" class="3" width="70px" height="70px" /></li>
        <li> <img src="~/Pictures/d49647b1-e7f9-a631.png" class="4" width="70px" height="70px" /></li>
    </ul>


</div>

<main dir="rtl">
    <section>
        <a href="#יונדאי אקסנט">יונדאי אקסנט</a>
        <p>
            יונדאי i20 החדשה, יותר ממה שחלמתם
            עיצוב צעיר ודינאמי, מערכות בטיחות מתקדמות הכוללות גם בלימה אוטונומית של הרכב במצבי חירום.
            חלל פנים מאוורר ומפנק הכולל גלגל הגה וידית הילוכים מעור, שמשות כהות*, תא כפפות מקורר ומערכת Connected Car המאפשרת לכם להישאר מחוברים בכל מקום ובכל זמן.
        </p>

    </section> <!---->
    <section>
        <a href="#יונדאי I 20">יונדאי i20</a>
        <p>
            ליסינג  טרייד אין  קנייה | מימון
            חוות דעת	- קיה פיקנטו
            קיה פיקנטו היא מכונית מיני עירונית ומאוד פופולארית. הדור הנוכחי שלה, זה שהגיע לישראל בשנת 2017, עבר מקצה שיפורים מקיף ביחס לקודמו - אך עדיין שמר על אותם מאפיינים בסיסיים. קיה פיקנטו נראית טוב מאוד, וגם מבפנים מרגישה איכותית ובוגרת - אם כי היא לא צבעונית ושמחה כמו חלק מהמתחרות. המרווח הפנימי בסדר גמור, וגם תא המטען גדל במעט

        </p>

    </section>
    <section>
        <a href="#mazda">מזדה</a>
        <p>
            אקסנט היא מכונית סופר מיני בתצורת סדאן או האצ'בק עם ארבע או חמש דלתות, המיועדת בעיקר לשווקים מתפתחים. בדורות המאוחרים היא חולקת את הפלטפורמה עם קיה ריו. הדור הרביעי הוצג בשנת 2010. הוא שווק בישראל תחת השם i25 אקסנט, וכך גם בקולומביה. הוא מגיע עם מנוע בנזין בנפח 1.4 ליטר ו-1.6 ליטר המפיקים 109 ו-126 כ״ס בהתאמה, ותיבת הילוכים ידנית בעלת 5 או 6 הילוכים ותיבה אוטומטית בעלת 4 או 6 הילוכים.

        </p>

    </section>

</main>


<script>
    var alt;
    var init = 0;
    var restTime;
    $(document).ready(function () {
        $('#holdy img').not('#holdy img:first, #listSlide img').hide();
        alt = $('#holdy img:first').attr('alt');
        $('#blackBlock a').text(alt);
        $('main section p').css({
            textAlign: 'center'
        }).hide();
        $('main section a').css({                   // Use {} for using nore than one method in jason style
            textDecoration: 'underline'
        }).
            hover(function () {
                $(this).css("text-decoration", "none");
            }, function () {
                $(this).css("text-decoration", "underline");
            }

            ).click(function (e) {
                e.preventDefault();
                $('main section p').hide();
                $(this).next('p').show();  //next mean that p -paragraph is the next level reletive to <a>

            });
    });

    function changePict() {
        restTime = setTimeout('changePict()', 2000);
        if (init < 4) {
            init++;

            $('#blackBlock').slideToggle(300, function () {
                $('#holdy img:visible').not('#listSlide img').hide();
                $('#holdy img.' + init).show();
                alt = $('#holdy img.' + init).attr('alt');
                $('#blackBlock a').text(alt);
            }).slideToggle(300);
        }
        else {

            $('#blackBlock').slideToggle(300, function () {
                $('#holdy img:visible').not('#listSlide img').hide();
                $('#holdy img:first').show();
                alt = $('#holdy img:first').attr('alt');
                $('#blackBlock a').text(alt);

            }).slideToggle(300);
            init = 1;
        }
    }

    $(function () {
        $('#listSlide li img').click(function () {
            var getClass = $(this).attr('class');
            if (init == getClass) {
                return false;
            } else {

                clearTimeout(restTime);
                init = getClass - 1;
                changePict();
            }
        });
    });
    changePict();

</script>

<script src="Scripts/jquery-3.3.1.js"></script>
<script>
    var CarTypeName = document.getElementById("chooseCarType").innerHTML;


    $('#ChooseCar').click(function () {
        $.getJSON('/api/carlistapi/', function (data) {
            $.each(data, function (key, value) {
                $('<tr><td>' + value.CarTypeName + '</td><td>' + value.Color + '</td><td>' + value.Engine + '</td><td>' + '<button>' + 'choose' + '</button>' + '</td></tr>').appendTo($('#Tab'));
            });
        });
    });

    //$('#CarOrder').click(function () {
    //    $.getJSON('/api/carlistapi?CarTypeName' = CarTypeName, function (data) {
    //        $.each(data, function (key, value) {
    //            $('<tr><td>' + value.CarTypeName + '</td><td>' + value.Color + '</td><td>' + value.Engine + '</td><td>' + '<button>' + 'choose' + '</button>' + '</td></tr>').appendTo($('#Tab'));
    //        });
    //    });
    //});

</script>
<style>
    #holdy {
        width: 350px;
        height: 380px;
        padding: 3px;
        margin: 0 auto;
        border: 1px solid red;
        position: relative;
    }

    #blackBlock {
        background: #000;
        opacity: 0.6;
        width: 340px;
        height: 102px;
        position: absolute;
        top: 185px;
        line-height: 100px;
        text-align: center;
    }

        #blackBlock a {
            color: white;
            text-decoration: none;
            font-size: 2.2em;
        }

            #blackBlock a:hover {
                text-decoration: underline;
            }

    #listSlide {
        margin-top: 75px;
        padding: 0;
        margin-left: 10px;
        list-style: none;
    }

        #listSlide li {
            float: left;
            margin: 3px;
            padding: 0;
        }

            #listSlide li img {
                cursor: pointer;
            }
</style>
