
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>@ViewBag.Title</h1>
<form id="newRental">

    <select id="chooseCarType" required value="" class="form-control">
        <option value="">בחר סוג רכב</option>
        <option value="mini">mini</option>
        <option value="Compact">Compact</option>
        <option value="Standard">Standard</option>
        <option value="Family">Family</option>
        <option value="Full Size">Full Size</option>
    </select>
    תאריך איסוף: <input type="date" name="dateIn" id="dateIn" class="form-control" />
    תאריך החזרה: <input type="date" name="dateOut" id="dateOut" required value="" class="form-control">
    <div>
        <ul></ul>
    </div>
    <button id="carType" class="form-control-static">Show chosen CarType</button>

    @*<select id="choosecartype">
            <option value="">בחר סוג רכב</option>
            <option value="mini">mini</option>
            <option value="compact">compact</option>
            <option value="standard">standard</option>
            <option value="family">family</option>
            <option value="full size">full size</option>
        </select>
        <br />*@
    <br />
    <br />

    <button id="showAllCars">Show all cars</button>

    <div>
        <h2>List Of Cars:</h2>
        <ul id="cars"></ul>

    </div>
    <table id="Tab" width="200px" border="1">
        <tr>
            <th>car type</th>
            <th>color</th>
            <th>engine</th>
            <th>carid</th>
            <th>price</th>
            <th><button>choose</button></th>
        </tr>
    </table>


    <input type="text" id="id" value="insertCarID" class="form-control" />
    <button id="CarOrder">קבל הצעה</button>
    <p id="carWithId" />
    <br />

    @*Update Button Using a Post Method*@
    <input type="text" id="carTypeName" placeholder="name of car" />
    <input type="text" id="color" placeholder="color of car" />
    <input type="text" id="engine" placeholder="engine of car" />
    <input type="text" id="carTypeID" placeholder="carTypeID of car" />
    <input type="text" id="carID" placeholder="carID of car" />
    <input type="text" id="carPrice" placeholder="carPrice of car" />

    <button id="postButton">Post</button>

</form>


<main dir="rtl">
    <section>
        <a href="#יונדאי אקסנט">יונדאי אקסנט</a>
        <p>
            יונדאי i20 החדשה, יותר ממה שחלמתם
            עיצוב צעיר ודינאמי, מערכות בטיחות מתקדמות הכוללות גם בלימה אוטונומית של הרכב במצבי חירום.
            חלל פנים מאוורר ומפנק הכולל גלגל הגה וידית הילוכים מעור, שמשות כהות*, תא כפפות מקורר ומערכת Connected Car המאפשרת לכם להישאר מחוברים בכל מקום ובכל זמן.
        </p>

    </section> <!---->
    <section>
        <a href="#יונדאי I 20">יונדאי i20</a>
        <p>
            ליסינג  טרייד אין  קנייה | מימון
            חוות דעת	- קיה פיקנטו
            קיה פיקנטו היא מכונית מיני עירונית ומאוד פופולארית. הדור הנוכחי שלה, זה שהגיע לישראל בשנת 2017, עבר מקצה שיפורים מקיף ביחס לקודמו - אך עדיין שמר על אותם מאפיינים בסיסיים. קיה פיקנטו נראית טוב מאוד, וגם מבפנים מרגישה איכותית ובוגרת - אם כי היא לא צבעונית ושמחה כמו חלק מהמתחרות. המרווח הפנימי בסדר גמור, וגם תא המטען גדל במעט

        </p>

    </section>
    <section>
        <a href="#mazda">מזדה</a>
        <p>
            אקסנט היא מכונית סופר מיני בתצורת סדאן או האצ'בק עם ארבע או חמש דלתות, המיועדת בעיקר לשווקים מתפתחים. בדורות המאוחרים היא חולקת את הפלטפורמה עם קיה ריו. הדור הרביעי הוצג בשנת 2010. הוא שווק בישראל תחת השם i25 אקסנט, וכך גם בקולומביה. הוא מגיע עם מנוע בנזין בנפח 1.4 ליטר ו-1.6 ליטר המפיקים 109 ו-126 כ״ס בהתאמה, ותיבת הילוכים ידנית בעלת 5 או 6 הילוכים ותיבה אוטומטית בעלת 4 או 6 הילוכים.
        </p>
    </section>
</main>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>

    //var tblCars = "<tr><th>CAR TYPE</th><th>COLOR</th><th>ENGINE</th><th>CarID</th><th><button>Choose</button></th></tr>";
    $('#showAllCars').click(function () {
        $.getJSON('/api/carlistapi/', function (data) {
            $.each(data, function (key, value) {
                $('<tr><td>' + value.ID + '</td><td>' + value.Color + '</td><td>' + value.Engine + '</td><td>' + value.CarTypeName + '</td><td>' + '<button>' + 'choose' + '</button>' + '</td></tr>').appendTo($('#Tab'));
            });
        });
    });

    //method to show chosen datatable by slected car type
    $("#carType").click(function () {
        var carType = $("#chooseCarType option:selected").val();
        alert($("#chooseCarType option:selected").val());
        $.getJSON('/api/carlistapi?CarTypeName=' + carType, function (data) {
            $.each(data, function (key, value) {
                $('<tr><td>' + value.CarTypeName + '</td><td>' + value.Color + '</td><td>' + value.Engine + '</td><td>' + value.ID + '</td><td>' + value.PricePerDay + '</td><td>' + '<button>' + 'choose' + '</button>' + '</td></tr>').appendTo($('#Tab'));
            });
        });
    });

    $('#postButton').click(function () {
        var ctm = $('#carTypeName').val();
        var color = $('#color').val();
        var engine = $('#engine').val();
        var carTypeID = $('#carTypeID').val();
        var carID = $('#carID').val();
        $.ajax({
            type: 'Post',
            contentType: 'application/json;charset=utf-8',
            url: '/api/carlistapi',
            data: JSON.stringify({
                CarTypeName: ctm,
                Color: color,
                Engine: engine,
                CarTypeId: carTypeID,
                CarID: ID
            }),
            dataType: 'json',
            success: function () {
                $.getJSON('/api/carlistapi/', function (data) {
                    $.each(data, function (key, value) {
                        $('<tr><td>' + value.CarTypeName + '</td><td>' + value.Color + '</td><td>' + value.Engine + '</td><td>' + '<button>' + 'choose' + '</button>' + '</td></tr>').appendTo($('#Tab'));
                    });
                });
            }
        });
    });



</script>
<script>
    $(function () {
        $('#CarOrder').click(function () {
            var idCar = $('#id').val();
            $.getJSON('/api/carlistapi?CarID=' + idCar, function (data) {
                alert(data.carID);
                //$('<tr><td>' + value.CarTypeName + '</td><td>' + value.Color + '</td><td>' + value.Engine + '</td><td>' + '<button>' + 'choose' + '</button>' + '</td></tr>').appendTo($('#Tab'));
                $('#carWithId').text(data.CarTypeName + data.Color + data.Engine + data.ID + data.CarTypeId).appendTo($('#carWithId'))

            });
        });
    });
</script>
<style>
    #holdy {
        width: 350px;
        height: 380px;
        padding: 3px;
        margin: 0 auto;
        border: 1px solid red;
        position: relative;
    }

    #blackBlock {
        background: #000;
        opacity: 0.6;
        width: 340px;
        height: 102px;
        position: absolute;
        top: 185px;
        line-height: 100px;
        text-align: center;
    }

        #blackBlock a {
            color: white;
            text-decoration: none;
            font-size: 2.2em;
        }

            #blackBlock a:hover {
                text-decoration: underline;
            }

    #listSlide {
        margin-top: 75px;
        padding: 0;
        margin-left: 10px;
        list-style: none;
    }

        #listSlide li {
            float: left;
            margin: 3px;
            padding: 0;
        }

            #listSlide li img {
                cursor: pointer;
            }
</style>
